.idea
*.log
node_modules
yarn.lock
package-lock.json

# Typically you don't want to have the `apify_storage` directory
# in the Git repo, but in this boilerplate we keep the `INPUT.json`
# file in Git for documentation purposes.
apify_storage/datasets
apify_storage/request_queues
apify_storage/key_value_stores/default/OUTPUT.json
